html, body{
    width: 100%;
    height: 100%;
}
#practice{
    position: fixed;
    margin-top: -30px;
} 

/* LOGO */
.navbar-brand img{
    width: 40px;
    height: 40px;
}

section{
    height: 120%; 
    padding-top: 100px;
    text-align: center;  /*文字置中*/
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; /*圖片不會動*/
}

/* 遮色背景 */
.row-bg{
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* 每個區塊的背景圖 */
.home-section{
    background-image: url(./img/hills-2836301_1280.webp);
    /*background-color: rgb(168, 40, 40);*/
    /* height: 200%; */
}
.about-section{
    /*background-color: rgb(197, 194, 31);*/
    background-image: url(./img/1U2A0208.jpg);
}
/* .news-section{
    background-color: rgb(156, 53, 53);
    background-image: url(../img/D53A0024.jpg);
} */
.service-section{
    /* background-color: rgb(197, 194, 31); */
    background-image: url(./img/D53A0663.jpg);
}
.contact-section{
    /* background-color: rgb(165, 71, 71); */
    background-image: url(./img/D53A9982.jpg);
}


.site-footer{
    padding: 25px 0;
    border-top: 1px solid rgba(182,182,182,1.00);
    background-image: -webkit-linear-gradient(270deg,rgba(179,179,179,1.00)0%,rgba(255,255,255,1.00)100%);
    background-image: -moz-linear-gradient(270deg,rgba(179,179,179,1.00)0%,rgba(255,255,255,1.00)100%);
    background-image: -o-linear-gradient(270deg,rgba(179,179,179,1.00)0%,rgba(255,255,255,1.00)100%);
    background-image: linear-gradient(180deg,rgba(179,179,179,1.00)0%,rgba(255,255,255,1.00)100%);
}
.social{
    text-align: right;
    margin: 0px;
    padding: 0px;
}
.social li {
    list-style-type: none;
    margin-right: 5px;
    display: inline-block;
}
.social li a {
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: rgba(235,120,0,0.80);
    font-size: 20px;
    border-radius: 10px;
}
.site-footer span{
    margin-top: 12px;
    display: block;
    text-align: left;
}

@media (max-width:768px){
    /*  底部 */
    .site-footer span{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .social{
        text-align: center;
    }
    /* item */
    .container-item .item .txt{
        height: 150px;
        font-size: 20%;
    }
    .container-item .item .txt h2{
        font-size: 30pt;
        margin-top: -40px;
    }
}

@media (min-width:1200px){
    .container-item{
        width: 992px;
        /* align-items: center; */
        margin:0 auto; /*版面置中*/
    }
    .container-item .item .txt{
        height: 80%;
    }
}
/* 第三區塊*/
@media (max-width:768px){
    .news-section{
        margin: -50px 100px 500px 150px;
        /* margin:0 auto; */
    }

    .item-news{
        margin-top: 20px;
    }
}


